<ion-side-menus enable-menu-with-back-views="false" view-title="">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
    <ion-footer-bar>
      <button ng-click="goStatus()" class="menu-button"><img src="../../img/menu/status.png" class="menu-img"></button>
      <button ng-click="goChat()" class="menu-button"><img src="../../img/menu/chat.png" class="menu-img"></button>
      <button ng-click="goHome()" class="menu-button"><img src="../../img/menu/lupa.png" class="menu-img"></button>
      <button ng-click="goNoti()" class="menu-button"><img src="../../img/menu/sino.png" class="menu-img"></button>
      <button ng-click="goPerfil()" class="menu-button"><img src="../../img/menu/perfil.png" class="menu-img"></button>
    </ion-footer-bar>
  </ion-side-menu-content>

</ion-side-menus>

