<ion-view>
    <ion-content>
        <div id="white">
        <button class="back" ng-click="voltar()"><</button> <h2 class="hp">Editar perfil</h2>
        <br>
      <br><div id="perfil"></div><h5 style="text-align: center!important">Nome do usuário</h5>
        <form>
            <ion-list>
                <div id="inputs">
                <label>
                    <span >Nome Completo</span>
                    <input class="blue-inp" type="text" ng-model="data.nome" placeholder="">
                </label>
                <br>
                <label>
                    <span >Estado</span>
                    <input class="blue-inp" type="text" ng-model="data.nome" placeholder="">
                </label>
                <br>
                <label>
                    <span >Cidade</span>
                    <input class="blue-inp" type="text" ng-model="data.nome" placeholder="">
                </label>
                <br>
                <label>
                        <span >Endereço</span>
                        <br>
                        <input class="blue-inp" type="text" ng-model="data.endereco" placeholder="">
                    </label>
                    <br>
    <span>Email</span>
    <input class="blue-inp" type="text" ng-model="data.email" placeholder="">
 </label>
 <br>
<label>
 <span >Celular</span>
 <input class="blue-inp" type="tel" ng-model="data.cel" placeholder="">
</label>
</div>
</div>
            </ion-content>
        </ion-view> 