<ion-view>
  <ion-content>
    <div id="top-bluep"><a ng-click="goEdita()"><img class="edita" src="../../img/perfilnovo/edit.png"></a><br>
      <div id="perfil"></div><h5 style="text-align: center;">{{data.usuario}}</h5>
    </div>
      <div id="grayt">
        <br><br>
        <div id="menu-perfil">
          <a ng-click="goHist()"><img src="../../img/perfilnovo/hist.png"><p>Histórico de Serviços</p></a><br><br>
          <a ng-click="goComo()"><img src="../../img/perfilnovo/info.png"><p>Como Funciona</p></a><br><br>
          <a ng-click="goRed()"><img src="../../img/perfilnovo/redef.png"><p>Redefinir Senha</p></a><br><br>
          <a ng-click="logoff()"><img src="../../img/perfilnovo/out.png"><p>Sair</p></a><br><br>
          <a ng-click="excluirConta()"><img src="../../img/perfilnovo/cancelar.png"><p>Exluir Conta</p></a><br><br>
      </div>
    </div>
  </ion-content>
</ion-view> 