<ion-view>
    <ion-content>
        <div id="grayh">
            <button class="back" ng-click="voltar()"><</button> 
            <h2 class="hp">Histórico de Serviços</h2>
            <br><br>

            <div ng-repeat="s in data.servicos">
                <div id="{{s.status}}">
                    <h1 class="hist"><b>{{s.statusDetail}}</b> em {{s.atualizacao | date: "short"}}</h1>
                    <div>
                        <img style="width: 16%; position: absolute; margin-left: 4%" src="{{s.servico.icone}}">
                        <h2 class="hist2">Categoria:<b> {{s.servico.nome}}</b></h2>
                        <h2 class="hist2">Nº Protocolo:<b> {{s.idOs}}</b></h2>
                        <h2 ng-if="data.userType == 'C'" class="hist2">Fornecedor:<b> {{s.fornecedor.nome}}</b></h2>
                        <h2 ng-if="data.userType == 'F'" class="hist2">Cliente:<b> {{s.cliente.nome}}</b></h2>
                    </div>  
                </div>
                <br>
            </div>
            
        </div>
    </ion-content>
</ion-view> 