<ion-view>
        <ion-content>
            <div id="white">
                <button class="back" ng-click="voltar()"><</button><br>
                <img class="img-how" src="../../img/Design TCC/Tela como funciona/logohelper.png">
                    <br><br>
                    <p class="blue-helper">Como o helper<br><br> funciona?</p><br><br>
                    <img class="other-img" src="../../img/Design TCC/Tela como funciona/cf1.png"><br>
                    <br>
                    <p class="tum">Encontre profissionais e clientes</p>
                    <br>
                    <div id="textizinho">
                    <p>Os clientes preenchem um formulário com todas as informações para a manutenção de seu eletroeletrônico e o Helper envia a solicitação ao profissional mais qualificado para realizar o serviço</p>
            </div>
        </div>
                </ion-content>
            </ion-view> 