<ion-view>
    <ion-content>
        <style>
            ::placeholder { /* Firefox, Chrome, Opera */ 
                color: blue; 
} 
            </style>
        <div id="grayh">
        <button class="back" ng-click="goPerfil()"><</button> 
        <h2 class="hp">Esqueceu sua senha?</h2>
    <img class="forgot" src="../../img/perfilnovo/forgot.png">
    <br><br><br>
    <p>Digite a palavra secreta definida no <br> momento do cadastro</p>
    <br>
    <label>
            <input class="blue-inp" type="text" ng-model="data.endereco" placeholder="Digite aqui...">
        </label>
        <br>
        <button class="cad-cliente" ng-click="send()">ENVIAR</button>
    </div>
            </ion-content>
        </ion-view> 